%h1 Pages#simple_test
%p Find me in app/views/pages/simple_test.html.haml


%div{:style => "width: 300px; float:right; margin: 5px; padding: 5px; background: #eee; border: 1px solid #ccc"}
  %h1#section1
    This is a title
  %p
    This is a test of the emergency broadcast system


%div{:style => "width: 300px; float:left; margin: 5px; padding: 5px; background: #eee; border: 1px solid #ccc"}
  %h1#section2
    This is another title
  %p
    This is a test of the emergency broadcast system. This is only a test

= joyride :chooseID, :cookie => false do |j|
  = j.step :section1, "This is the first step"
  = j.step :section2, "This is the second step"


