<!DOCTYPE html>
<html>
<head>
  <title>JoyrideRails</title>
  <%= stylesheet_link_tag    "joyride/application", :media => "all" %>
  <%= javascript_include_tag "joyride/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
